.container{ 
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px repeat(2, 200px);
    padding: 0px 100px;
    justify-content: center;
    align-items: center;
}

.header_main{
    grid-area: 1/1/1/4;
}

.header_main p{
    margin: 0 200px;
}

.supervisor{
    grid-area: 2/1/4/1;
}

.calculator{
    grid-area: 2/3/4/4;
}

.karma{
    grid-area: 3/2/4/3;
}